.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0c1a2c; /* Fondo oscuro */
    color: #fff;
}

.header .logo img {
    max-height: 50px;
}

.header .navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
